# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Build artifacts
build/
dist/
*.egg-info/
__pycache__/

# Local development
.vscode/
.idea/
*.pyc

# extra
.guide/
research/
docs/